.btn {
  line-height: 1;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  display: block;
  background: black;
  margin: 0 auto;
  padding: 1rem;
  border: 0;
  outline: none;
  cursor:pointer;
  width: 100%;
}