.formRow {
// background-color: black;
  input {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    padding: 10px 5px;
    margin: 10px auto;
    outline: none;
  }
}